*.o
*~
Makefile
.deps
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
recbond
checkbond
recpt1ctl
version.h
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
